<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hugo.stc_android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ViewController.Activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewController.Activities.ConfiguracoesActivity"
            android:label="@string/title_configurations"
            android:icon="@drawable/ic_arrow_back_white_24dp" />
        <activity
            android:name=".ViewController.Activities.AgentMenuActivity"
            android:label="@string/title_agent_menu_activity">
        </activity>
        <activity
            android:name=".ViewController.Activities.NewAutoActivity"
            android:label="@string/title_new_auto_activity">
        </activity>
        <activity
            android:name=".ViewController.Activities.PrintersActivity"
            android:label="@string/title_printers_activity">
        </activity>
    </application>

</manifest>
